@import "normalize.css";

html, body { height: 100%; margin: 0; background-color: honeydew;}
.navbar { background-color: Turquoise; }

.center-block h4{
   margin: 0 auto;
   vertical-align: middle
   margin-left: auto; 
   margin-right: auto; 
   height: 90px;
   color: #000;
}

.table thead > tr >th:nth-child(1),
.table tbody > tr >td:nth-child(1){ 
   display: none; 
   background-color: green;
}

table.dataTable tbody td {
    padding: 2px 2px;
}
.table td {
    vertical-align: middle;
}
.center-block .copyNow{
   padding: 2px 8px;
   float: right;
   position: relative;                                                         
}    

.center-block .copyNow:hover {
   background-color: #000;
   color: white;
} 
